.AddToCart button {
  padding: 2px 10px;
  margin-right: 5px;
  background-color: #0fa6b6;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  transition: all 100ms linear;
  max-width: 200px;
}
.AddToCart button:hover {
  background-color: #008575 ;
}